# React Router
/.react-router/
/build/

# Node modules
node_modules/

# Build outputs
dist/
build/
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/
jest.cache/
*.test.ts.snap
*.spec.ts.snap

# IDE files
.vscode/
.idea/

# Env files
.env
.env.local
.env.*.local

# OS-specific
.DS_Store
Thumbs.db

# Docker
.dockerignore
Dockerfile

# Misc
*.log
*.cache
.cache/